* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Work Sans', sans-serif;
}

.wrap {
  background-color: #f4f4f4;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content {
  width: calc(100% - 50%);
  background: #fff;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 5%;
}

.content__head {
  font-size: clamp(2.4rem, 2.5vw, 3.2rem);
  margin-bottom: .4em;
  color: #1a1a1a;
}

.content__head-name {
  display: block;
}

.content__head-wave {
  -webkit-animation-name: wave-animation;
          animation-name: wave-animation;
  /* Refers to the name of your @keyframes element below */
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  /* Change to speed up or slow down */
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  /* Never stop waving :) */
  -webkit-transform-origin: 70% 70%;
          transform-origin: 70% 70%;
  /* Pivot around the bottom-left palm */
  display: inline-block;
}

.content p {
  font-size: clamp(1.4rem, 2vw, 1.8rem);
  line-height: 1.3;
  color: #585858;
}

.content p:nth-of-type(3) {
  margin-top: 2.2em;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin-top: 1em;
}

.social li {
  font-size: 1.4rem;
  margin-right: 2em;
}

.social__link {
  padding: .8em 2.2em;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  border-radius: 1px;
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover {
  border-radius: 0;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.social__medium {
  background-color: #292929;
}

.social__medium:hover {
  -webkit-box-shadow: 3px 4px 0 rgba(0, 0, 0, 0.7);
          box-shadow: 3px 4px 0 rgba(0, 0, 0, 0.7);
}

.social__dribbble {
  background: #ea4c89;
}

.social__dribbble:hover {
  -webkit-box-shadow: 3px 4px #a41d50;
          box-shadow: 3px 4px #a41d50;
}

.social__behance {
  background: #0057ff;
}

.social__behance:hover {
  -webkit-box-shadow: 3px 4px 0 #061f4f;
          box-shadow: 3px 4px 0 #061f4f;
}

.img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(100% - 50%);
}

.img img {
  width: 55%;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
}

.img__credit {
  margin-top: 1em;
}

.img__github {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #fff;
  border: 1.5px solid #fff;
  padding: 9px 16px;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2EA44F;
  font-weight: 800;
  margin-left: auto;
  margin-bottom: auto;
  -webkit-transition: border .5s ease;
  transition: border .5s ease;
}

.img__github:hover {
  border: 1.5px solid #2EA44F;
}

.img__github svg {
  margin-right: 10px;
}

.footer {
  position: fixed;
  bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer__links {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  color: #1a1a1a;
  margin-right: 32px;
}

@-webkit-keyframes wave-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  30% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  40% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  /* Reset for the last half to pause */
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes wave-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  30% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  40% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  /* Reset for the last half to pause */
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@media screen and (max-width: 1060px) {
  .content {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding: 30% 5% 0;
    width: 100%;
  }
  .img {
    display: none;
  }
  .img__github {
    display: none;
  }
  .social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .social li {
    margin-right: 0;
    margin-bottom: 1em;
  }
  .social__link {
    padding: 1em 2.8em;
    width: 100%;
    text-align: center;
    border-radius: 4px;
  }
  .footer {
    width: 100%;
    left: 0;
  }
  .footer__links {
    margin-right: 0;
  }
}
/*# sourceMappingURL=style.css.map */